spring:
  application:
    name: notification-service
  config:
    import: optional:configserver:http://config-server:8888
  kafka:
    bootstrap-servers: kafka-1:9090,kafka-2:9090,kafka-3:9090
    consumer:
      group-id: notification-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.use.type.headers: false

server:
  port: 8082

eureka:
  client:
    service-url:
      defaultZone: http://service-discovery:8761/eureka