server:
  port: 8082

spring:
  kafka:
    bootstrap-servers: localhost:9092,localhost:9094
    consumer:
      group-id: user-notifier-group

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

logging:
  level:
    com.example.user_notifier: INFO